
<% @list.each do |list|%>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><%=list.name%></div>
    <div class="card-body text-secondary">
      <h5 class="card-title"><%=list.user.email%></h5>
      <%list.tasks.each do |task|%>
      <p class="card-text"><%=task.name%>,<%=task.check%>, <%=task.user.email%></p>
      <% end %>
      <p class="card-text"></p>
    </div>
  </div>

<% end %>
